.cntr {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    margin-top: 5%;
    flex-wrap: wrap;
}

.wrapper {
    position: relative;

}

.grid {
    flex-direction: row;
    margin-top: 15px;
    max-width: 512px;
}
@media (max-width: 542px) {
    .grid {
        justify-content: center;
    }
}

.keuzemenubutton {
    padding: 15px;
    border: 1.5px solid black;
    background-color: #72C2E3;
    width: 123px;
    height: 80px;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    display: block;
}
.backbutton {
    margin-top: 10px;
    margin-left: 5px;
}
/*         Account details            */

.acclabel {
    color: #72C2E3;
    width: 45%;
    margin-bottom: 10px;
}
form .acclabel {
    margin-bottom: 20px;
}
form .select {
    margin-bottom: 25px;
}
.acclabelfirst {
    width: 40%;
    margin-bottom: 20px;
}
.accgrid {
    justify-content: center;
}
.accvalue {
    width: 45%;
    margin-bottom: 10px;
}
.accvaluefirst {
    width: 50%;
    margin-bottom: 20px;
}

.accwijzig {
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    background-color: #72C2E3;
    width: 100px
}
.accgrid input {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    height: 25px;
}
.wwwijzig {
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    margin-top: 15px;
    background-color: #72C2E3;
}
.error {
    color: red;
    margin-bottom: 5px;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
    border-radius: 10px;
    height: fit-content;
    padding: 8px;
}
@media (max-width: 308px) {
    .acclabel, .accvalue {
        width: 60%;
        text-align: center;
    }
    .accgrid input {
        margin-bottom: 20px;
    }
}